.wrapper {
  padding: 0 40px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: var(--text-14);
  color: var(--paragraph-color);
  border-top: 1px solid var(--border-color);
}
